@model WebApplication2.Models.Department
@{
    ViewData["Title"] = "Add New department";
}
<style>
    .btn-violet {
        background-color: darkviolet;
        color: white;
    }

    .btn-purple {
        background-color: #c07ae9;
        color: white;
    }
</style>
<div class="p-4 container">
    <div class="row p-4">
        <div class="col-md-12">
            <h3>Add New Department</h3>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-6">
            <form asp-controller="Department" asp-action="Add" method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label fw-bold">Department Name</label>
                    <input asp-for="Name" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-violet">Submit</button>
            </form>
        </div>
    </div>
</div>
