@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center centered-content">
    <h2 class="display-4">Welcome To <b>EMS</b> System</h2>
    <p><a href="@Url.Action("Login", "Home")" class="login-link">login here</a></p>
</div>
